<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nihilist Page Projects</title>
  </head>
  <body>
    {{> headers}}
    <p>{{welcomeNote}}</p>
    {{> footers}}
  </body>
</html>
